@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap");

:root {
  --body-bg-color: #f9f9f9;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--body-bg-color);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

* {
  box-sizing: border-box;
}
